<!-- 页头 s -->
<nz-page-header (nzBack)="goBack()" nzBackIcon>
    <nz-page-header-title>英雄详情</nz-page-header-title>
    <nz-page-header-subtitle>展示英雄详细信息</nz-page-header-subtitle>
    <nz-page-header-extra>
        <button nz-button (click)="goBack()">返回</button>
        <button nz-button nzType="primary" (click)="save()">保存</button>
    </nz-page-header-extra>
</nz-page-header>
<!-- 页头 e -->
<!-- 主体 s -->
<div class="container">
    <div *ngIf="hero">
        <h2>{{ hero.name | uppercase }}</h2>
        <nz-descriptions nzBordered [nzColumn]="1">
            <nz-descriptions-item nzTitle="序号">{{ hero.id }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="名字">
                <input nz-input [(ngModel)]="hero.name" placeholder="name">
            </nz-descriptions-item>
        </nz-descriptions>    
    </div>
</div>
<!-- 主体 e -->