<h2>My Heroes</h2>

<!-- add -->
<div>
    <label>Hero name:
        <input #heroName>
    </label>
    <button nz-button nzType="primary" (click)="add(heroName.value);heroName.value=''">新增</button>
</div>

<ul class="heroes">
    <!-- <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelected(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{ hero.id }}"><span class="badge">{{hero.id}}</span> {{hero.name}}</a>
        <a nz-button nzType="link" nzDanger (click)="delete(hero)">×</a>
    </li>
</ul>