<!-- 页头 s -->
<nz-page-header nzTitle="英雄列表" nzSubtitle="所有英雄展示"></nz-page-header>
<!-- 页头 e -->
<!-- 主体 s -->
<div class="container">
    <!-- 新增 s -->
    <nz-space>
        <nz-space-item>
            <input nz-input #heroName placeholder="请输入英雄名称">
        </nz-space-item>
        <nz-space-item>
            <button nz-button nzType="primary" (click)="add(heroName.value);heroName.value=''">新增</button>
        </nz-space-item>
    </nz-space>
    <!-- 新增 e -->
    <nz-divider></nz-divider>
    <!-- 列表 s -->
    <nz-table #heroesTable nzBordered [nzData]="heroes">
        <thead>
            <tr>
                <th nzWidth="10%">序号</th>
                <th nzWidth="70%">英雄名称</th>
                <th nzWidth="20%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of heroesTable.data">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <a nz-button nzType="link" routerLink="/heroes/detail/{{ item.id }}">查看</a>
                    <a nz-button nzType="link" nzDanger (click)="delete(item)">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!-- 列表 e -->
</div>
<!-- 主体 e -->