<h2>My Heroes</h2>

<!-- add -->
<div>
    <label>Hero name:
        <input #heroName>
    </label>
    <button (click)="add(heroName.value);heroName.value=''">新增</button>
</div>

<ul class="heroes">
    <!-- <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelected(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li> -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{ hero.id }}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">删除</button>
    </li>
</ul>