<div class="search-bar">
    <!-- 搜索框 s -->
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="请输入英雄名称" #searchBox (input)="search(searchBox.value)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
    <!-- 搜索框 e -->
    <!-- 搜索结果 s -->
    <div class="search-result">
        <nz-list nzBordered>
            <nz-list-item *ngFor="let hero of heroes$ | async" routerLink="/heroes/detail/{{ hero.id }}">{{ hero.name }}</nz-list-item>
        </nz-list>
    </div>
    <!-- 搜索结果 e -->
</div>